@media (max-width: 765px) {
    #sobre .container {
        flex-direction: column;
        align-items: center;
    }
    .container>.sobre-img {
        width: 80%;
    }
    .container>.sobre-txt {
        width: 80%;
        padding: 0;
    }
    .produtos .item-list-product img {
        width: 80% !important;
    }
    #contato .container {
        flex-direction: column;
    }
    #contato .container form {
        width: 90% !important;
    }
    #contato .container table {
        width: 90%
    }
    ;
}

@media (max-width: 740px) {
    .produtos .item-list-product img {
        width: 170px;
    }
    .container .produtos>.item-list-product>h2 {
        font-size: 20px !important;
    }
}

@media (max-width: 660px) {
    .sobre-sec .sobre-title {
        font-size: 1.9rem;
    }

    #sec-produtos  h2 {
        font-size: 1.9rem !important;
    }
    #sec-produtos .produtos-list .container .produtos {
        flex-direction: column;
        align-items: center;
    }
    #sec-produtos .produtos-list .container .produtos li {
        width: 80%;
        margin-top: 10px;
    }

}

@media (max-width: 460px) {
    #home>.caixa {
        flex-direction: column;
        justify-content: center;
    }
    .caixa .logo {
        width: 250px;
    }
    .main-content>.sobre-title {
        font-size: 1.5rem;
    }
    .main-content #sec-produtos>h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 375px) {
    .sobre-sec .sobre-title {
        font-size: 1.5rem;
    }

    #sec-produtos  h2 {
        font-size: 1.5rem !important;
    }
    #contato h2 {
        padding-bottom: 1em;
    }

    #contato .container table {
        width: 94%;
    }
}

@media (max-width: 320px) {
    #contato .container fieldset legend h3 {
        font-size: 1.2rem;
    }

    #contato .container table {
        width: 96%;
    }
}