body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}
header {
    background: linear-gradient(180deg, rgba(0,0,0,0.1), #222222), url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    height: 400px;
}
.caixa {
    position: relative;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}
.logo {
    width: 300px;
}
.menu-list {
    position: absolute;
    right: 0;
    top: 170px;
    padding: 0 40px;
}

.menu-list > .item-list {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 15px;

}

.item-list > .link {
    text-decoration: none;
    font-weight: bold;
    color: #f5d8a9;
    font-size: 1.4rem;
}

.item-list > .link:hover {
    color: #c78c19;
}

#sobre {
    width: 100%;
    background: #222222;
}

#sobre .container > .sobre-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5%;
    color: #f0f0f0f5;
    font-weight: bold;
}

#sobre .container {
    width: 90%;
    margin: 0 auto;
    padding: 3em 0;
}

#sobre .container .sobre-txt {
    padding: 0 3%;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 1.1em;
    box-sizing: border-box;
    line-height: 34px;
    color: #f0f0f0f5;
}
.sobre-img {
    width: 47%;
    height: auto;
    border-radius: 10px;
    display: inline-block;
}

#sec-produtos {
    margin: 40px auto;
}

#sec-produtos h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 5%;
    color: #333333;

}

.produtos {
    width: 90%;
    margin: 0 auto;
}

.produtos li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    border: 2px solid #000000;
    text-align: center;
    height: 400px;
    padding: 30px 20px;
    border-radius: 10px;
    margin: 0 1.5%;
    box-sizing: border-box;
}

.produtos li:hover {
    border-color: #c78c19;
}

.produtos h2 {
    font-size: 25px !important;
    font-weight: bold;
}

.produto-descricao {
    font-size: 16px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.footer {
    margin: 40px auto 0;
    text-align: center;
    background-color: #f0f0f0f5;
    padding: 40px 0;
}

.footer > .logo-footer {
    width: 250px;
}

.footer > .txt-footer {
    font-size: 13px;
    color: #222222;
}