/* flex = o que eu quero alinhar? */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #ffffff;
}
header {
    background: linear-gradient(180deg, rgba(0,0,0,0.1), #222222), url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    height: 400px;
}
.caixa {
     display: flex; /*alinhamento dos itens da caixa: menu e logo */
    width: 100%;
     max-width: 1100px; /*para o margin 0 auto funcionar: 100% de 1100px */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo {
    width: 300px;
}
.menu-list {
    display: flex;
}

.menu-list > .item-list {
    /* display: inline-block; */
    /* menu-list com display flex, não precisa de inline-block */
    text-transform: uppercase;
    margin-left: 15px;

}

.item-list > .link {
    text-decoration: none;
    font-weight: bold;
    color: #f5d8a9;
    font-size: 1.4rem;
}

.item-list > .link:hover {
    color: #c78c19;
}

#sobre {
    width: 100%;
    background: #222222;
    padding: 3em 0;
    
}

.sobre-title {
    font-size: 3rem;
    text-align: center;
    background-color: #222222;
    padding-bottom: 40px;
    color: #f0f0f0f5;
    font-weight: bold;
}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
}

.sobre-txt {
    padding: 0 2%;
    width: 50%;
    font-size: 1.1em;
    box-sizing: border-box;
    text-align: justify;
    line-height: 34px;
    color: #f0f0f0f5;
}
.sobre-img {
    width: 47%;
    height: auto;
    border-radius: 10px;
}

#sec-produtos {
    margin: 40px auto;
}

#sec-produtos h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 5%;
    color: #333333;

}
.produtos-list {
    display: flex;
    justify-content: center;
}
.produtos {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.produtos li {
    background: linear-gradient(45deg, rgba(143,143,143,0.5), #8b8b8b8b), url(../img/fundo-card.jpg);
    width: 30%;
    text-align: center;
    height: 400px;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.1) ;
    /* x y blur e espalhamento da sompra */
    box-sizing: border-box;
}

.produtos li img {
    width: 220px;
    height: 220px;
}
.produtos li:hover {
    transform: scale(1.1);
    transition: transform 500ms ease;
}

.produtos h2 {
    font-size: 25px !important;
    font-weight: bold;
}

.produto-descricao {
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

#contato {
    width: 100%;
    background: #222222;
    color: #f0f0f5;
    padding: 3em 0;
    
}

#contato .container {
    align-items: center;
    width: 90%;
}
#contato  h2 {
    text-align: center;
    font-size: 2em;
    padding-top: 1.2em;
}
#contato .container form {
    width: 48%;
    margin-right: 2%;
    color: #f0f0f5;
}


#contato .container form legend {
    font-size: 1.4em;
    margin: 0 auto;
    padding-bottom: 1.5em;
}

form .container fieldset {
    display: flex;
    flex-direction: column;
}

form fieldset input, textarea {
    width: 100%;
    padding: 0.5em 0.5em;
    font-size: 20px;
    margin: 10px 0;
    border-radius: 10px;
    background: #4b4b4b;
    outline: none;
    border: none;
    color: #b6b6b6;
}

#contato .container form fieldset button {
    width: 250px;
    height: 58px;
    text-align: center;
    padding: 0.3em;
    display: block;
    margin: 1em 0 1em auto; /*alinhamento a direito*/
    font-size: 1.2em;
    background: #222222;
    border-radius: 10px;
    outline: none; /*linha ao redor do input*/
    border: #b6b6b6 solid 1px;
    color: #f0f0f5;
}
#contato .container form fieldset button:hover {
    background: #f0f0f5;
    color: #222222;
}
table {
    width: 48%;
    margin-left: 2%;
}

thead {
    background-color: #b6b6b6;
}

th, td {
    border: solid 1px #000000;
    padding: 8px 15px;
    text-align: center;
}

.footer {
    text-align: center;
    background-color: #f0f0f0f5;
    padding: 40px 0;
}

.footer > .logo-footer {
    width: 250px;
}

.footer > .txt-footer {
    font-size: 13px;
    color: #222222;
}